<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="../scripts/monitor.js"></script>
  <script>
    var trigger_count  = 2;
  </script>
</head>

<body onload="insert_reminder_body_initialize()">
  {% if form.error %}
  <p>Please correct the error {{ form.errors|pluralize }} below.</p>
  {% endif %}

  <form action="" method="POST">

    <table>
      {{ form.as_table }}
    </table>

    {% csrf_token %}

    <div id="more_triggers"></div>
    <a onclick="add_trigger_field()">Add another trigger</a><br>

    <input type="submit" value="Submit">

  </form>

</body>
</html>
